#col-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

#col-left,
#col-right {
    float: none;
    width: 100%;
}

.column-current,
.fixed .column-posts {
    width: 100px;
}

.column-current {
    text-align: center !important;  /* overrides core WP alignment for th */
}

.term-description-wrap {
    display: none;
}
